.daily-diary-form {
  margin-top: 3rem;
}
.form-label {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 3rem;
}
.service-username {
  font-size: 1.5rem;
  color: white;
  margin-top: 1.5rem;
}
.daily-diary-text{
      font-size: 1.5rem;
  color: white;
}
