.nav {
  background-color: #1bc47d;
  padding-bottom: 2rem;
}
.nav-link {
  color: white;
  text-align: start;
  line-height: 16px;
  font-size: 20px;
}
.nav-link:hover {
  color: #000000;
  text-align: start;
  line-height: 16px;
  font-size: 25px;
}
.dropdown-basic-button {
  margin-left: 10px;
  background-color: white !important;
}
.btn-primary {
  background-color: white !important;
  color: #1bc47d !important;
  border: none;
}
.basic-nav-dropdown .navbar-dropdown-anchor {
  margin-left: 2rem !important;
  display: flex !important;
  align-items: center !important;
}
.dropdown-menu {
  background-color: #1bc47d !important;
}
.dropdown-item a {
  color: #1bc47d !important;
}
/* .dropdown-item a:hover {
  background-color: #6a2539 !important;
  font-weight: bolder !important;
} */
